@tailwind base;
@tailwind components;
@tailwind utilities;

.main > div {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 80vh;
    padding: 10vh 0;
  }
  
  .burger {
    width: 40%;
    height: 400px;
    margin: auto;
  }
  
  .bread-bottom {
    height: 45%;
    width: 100%;
    background: url("https://i.ibb.co/GJJrLgm/pan-olor-dulce-aislado-sobre-fondo-blanco-219717-3750-removebg-preview.png") no-repeat;
    border-radius: 0 0 30px 30px;
    transform: rotate(180deg);
    margin: 0 auto;
    background-size: cover;
    background-position: top;
    background-position-y: -20px;
  }
  
  .bread-top {
      height: 45%;
      width: 100%;
      background: url("https://i.ibb.co/GJJrLgm/pan-olor-dulce-aislado-sobre-fondo-blanco-219717-3750-removebg-preview.png") no-repeat;
      border-radius: 50% 50% 0 0;
      margin: 0 auto;
      position: relative;
      background-size: cover;
      background-position: top;
      background-position-y: -20px;
      background-position-x:8px;
  }
  
  .meat {
    width: 80%;
    height: 15%;
    background: url('https://i.ibb.co/QbQz3hB/hamburger-removebg-preview.png');
    margin: 0 auto;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
  }
  
  .cheese {
      width: 100%;
      height: 6%;
      margin: 0 auto;
      background: url("https://i.ibb.co/3yqN82z/images-removebg-preview.png") no-repeat;
      border-radius: 20px;
      background-position: center;
      background-size: cover;
  }
  
  .salad {
    width: 85%;
    height: 10%;
    margin: 0 auto;
    background: url(https://i.ibb.co/Y8nWwH7/lechuga.png) no-repeat;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  }
  
  .bacon {
    width: 100%;
    height: 7%;
    background: url('https://i.ibb.co/Rp6TW96/3fb24c4d7525d16f60f8ec2b46aeb25582802791-Deli-Meats-209235-06-removebg-preview.png') no-repeat;
    margin: 0 auto;
    background-size: cover;
    background-position-y: -230px;
  }
  
  .control-panel {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .builder {
    margin-top: 20px;
  }
  body{
    background: url("https://i.pinimg.com/originals/73/80/30/738030ddf8367753e900a8e29ae0bdb3.jpg") no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
  }
  .button {
    color: #494949 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 1px solid #494949 !important;
    border-radius: 50%;
    display: inline-block;
    font-size: 1em;
    line-height: 0.5em;
    margin: 20px;
    font-weight: 600;
    box-shadow: -1px 10px 20px 0px rgba(254,0,0,0.58)
  }
  
  .button:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.1s ease 0s;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background: red !important;
    border-color: red !important;
  }
  
  .container {
    text-align: center;
  }
  
  .receipt-row {
    border: 2px solid;
    max-width: 50%;
    padding: 10px;
    margin: 0 auto;
  }
  
  .receipt {
    padding-top: 20px;
  }
  
  h1 {
    font-size: 3em;
  }